<div class="login">
  <div class="wrapper">
	<div class="container" *ngIf="!isLogged else logoutSection">
		<h1>Welcome</h1>
		<!-- <div class="row">
			<div class="col-lg-12">
			</div>
		</div> -->

		<button type="button" class="btn btn-default loginFacebook" (click)="loginFacebook()">
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
			Đăng nhập Facebook
			<!-- <i class="material-icons right"><lock_open></lock_open></i> -->
		</button>
		<button type="button" class="btn btn-default loginGoogle" (click)="loginGoogle()">
			<i class="fa fa-google-plus-square" aria-hidden="true"></i>
			Đăng nhập Google
			<!-- <i class="material-icons right">lock_open</i> -->
		</button>
		
		<form class="form">
			<input type="text" placeholder="email@gmail.com" #username required (keyup.enter)="login(username.value,password.value)">
			<input type="password" placeholder="Password" #password required (keyup.enter)="login(username.value,password.value)">
			<button type="button" id="login-button" (click)="login(username.value,password.value)">Login</button>
		</form>
		<div class="spinner" [class.active]="loading">
			<mat-spinner></mat-spinner>
		</div>
	</div>

	<ng-template #logoutSection>
		<div class="container logout">
			<h1>Notice</h1>
			<p>Bạn đã đăng nhập tài khoản không phải quản trị viên. <br> Hãy đăng nhập với tư cách quản trị trước khi vào khu vực quản lý</p>
			<button type="button" class="btn btn-default btn-lg" (click)="logout()">Đăng suất</button>
		</div>
	</ng-template>
	


	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
</div>