<div class="example-container mat-elevation-z8">
  <ng-template #loading>
    Đang lấy bài viết...
  </ng-template>

  <p *ngIf="noData | async">
    Không có bài viết nào!
  </p>

  <mat-table *ngIf="(eventService.subscribeEvent('listLoading') | async) == false ;else loading" [dataSource]="dataSource" #table>

     <!-- Author Column -->
    <ng-container cdkColumnDef="author" style="width:2px" >
      <mat-header-cell *cdkHeaderCellDef> ID </mat-header-cell>
      <mat-cell  class="column1" *cdkCellDef="let row"> 
        <img *ngIf="authService.user | async; let user" class="post-avatar" [class.post-owner]="user.uid == row.authorUid" src="user.image || ../../../../../../../assets/images/avatar.png" [alt]="row.postOption?.author">
      </mat-cell>
      <!-- <mat-cell [style.display]="row.postOption?.author == 'Quyền Anh' ? 'none' : ''" class="column1" *cdkCellDef="let row"> 
        <img  class="post-avatar" src="../../../../../../../assets/images/avatar.png" alt="">
      </mat-cell> -->
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="title">
      <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
      <mat-cell class="truncate" *cdkCellDef="let row">
        <p><b>{{row.title}}</b></p> 
      </mat-cell>
    </ng-container>

    <!-- button Column -->
    <ng-container cdkColumnDef="button">
      <mat-header-cell *cdkHeaderCellDef>button</mat-header-cell>
      <mat-cell  class="removeItem" *cdkCellDef="let row">
        <button class="delete-button" [class.display]="user.uid == row.authorUid"   *ngIf="authService.user | async; let user"  mat-button (click)="deletePost(row)">
          <mat-icon class="fa fa-trash-o fa-lg" aria-hidden="true"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!--<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>-->
    <mat-header-row *cdkHeaderRowDef="[]"></mat-header-row>
    <mat-row (click)="viewPost(row)" *cdkRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>
</div>
